@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h3><a href="/Home/Intro">Вступ. Перший проєкт</a></h3>
<h3><a href="/Home/Razor">Синтаксис Razor</a></h3>
<h3><a href="/Home/UrlInfo">Інформація про Url</a></h3>
<h3><a asp-action="Ioc">Інверсія управління</a></h3>

