@{
    ViewData["Title"] = "Вступ";
}

<div class="text-center">
    <img class="title_image" src="/img/asp.net.png" alt="ASP logo" />
    <h1 class="display-4">Вступ. Перший проєкт.</h1>
</div>

<pre>
ASP.NET
Active Server Pages
Фреймворк .NET призначений для веб-проєктів

Клієнт-серверна технологія
 це технологія, за якою в інформаційному обміні беруть участь дві програми:
 клієнт - той, хто надсилає запит
 сервер - той, хто очікує, приймає та оброблює запит
 у даному сенсі клієнт та сервер - це ролі, що їх грають програми.

Веб-проєкт:
а)
    Сервер (сховище)                   Клієнт (браузер)
      HTML+CSS+JS        <---        пише адресу у браузері
        [file(s)]        --->    файли приймаються і виконуються

б)
     Сервер (активний)                          Клієнт (браузер)
        CS (Sharp)         <---      пише адресу у браузері
        формує HTML        --->      дані приймаються (і, можливо, виконуються)


https://localhost:7278/  localhost - спеціальне ім'я, яке показує на даний ПК (петля)
Запит потрапляє до ASP - до маршрутизатора (визначеного у Program.cs)
pattern: "{controller=Home}/{action=Index}/{id?}"
згідно з шаблоном, запит розділяється на 3 частини, відокремлені "/"
controller / action / id
якщо якоїсь частини немає, то береться значення за замовчанням
базовий запит "/"  -- controller = Home, action = Index, id = null

ASP формує ім'я для контролера з'єднуючи "Home" та "Controller" і шукає відповідний клас
у каталозі "Controllers" - знаходить його, створює з нього об'єкт та
намагається запустити у ньому метод, який відповідає за назвою "action",
тобто "Index"

Контролер викликає View(), що означає перехід до представлення.
Воно шукається у каталозі Views/[controller]/[action].cshtml
тобто /Views/Home/Index.cshtml
Якщо не знаходить, то намагається шукати у каталозі Shared
тобто /Views/Shared/Index.cshtml

Цей файл "вставляється" до файлу-шаблону представлень
Views/Shared/_Layout.cshtml
у місце, в якому знаходиться команда
&commat;RenderBody()
</pre>