@{
    ViewData["Title"] = "Razor";
}

<div class="text-center">
    <img class="title_image" src="/img/asp.net.png" alt="ASP logo" />
    <h1 class="display-4">Синтаксис Razor</h1>
</div>

<p>
    Синтаксис Razor використовується для розштрення можливостей HTML 
</p>
<ul>
    <li>використання змінних та виразів</li>
    <li>умовні блоки (умовна верстка)</li>
    <li>циклічна верстка</li>
</ul>

<p>
    Основу складає символ <code>&commat;</code>, що обмежує використання цього символу у HTML, замість нього вживається сутність <code>@("&commat;")</code>
</p>

<h3>Вирази</h3>
<p>
    Результати виразів відображаються інструкцією <code>&commat;(2 + 2) = @(2 + 2)</code>
</p>