@{
    ViewData["Title"] = "Url info";
}

<div class="text-center">
    <img class="title_image" src="/img/asp.net.png" alt="ASP logo" />
    <h1 class="display-4">Інформація про Url</h1>
    <p></p>
</div>

<p>
    <strong>Уніфікований локатор ресурсів</strong> або <strong>адреса ресурсу</strong> (англ. Uniform Resource Locator, URL) — стандартизована адреса певного ресурсу
        (як-от документ або зображення) в інтернеті (чи деінде). Придуманий Тімом Бернерс-Лі для використання у WWW, сучасні форми описуються в RFC 3986. 
    Містить назву протоколу доступу (HTTP, FTP, telnet, gopher та ін.) і, власне, шлях до ресурсу, формат якого залежить від схеми доступу.
</p>

<h3>Структура</h3>

<img src="/img/url_info.png" alt="URL Info" />

<ul>
    <li><strong>схема</strong> — схема звернення до ресурсу, найчастіше це протокол (напр., http, ftp)</li>
    <li><strong>логін і пароль</strong> — відповідно, ім'я користувача і пароль для доступу до ресурсу</li>
    <li><strong>хост</strong> — повне доменне ім'я або IP-адреса ресурсу.</li>
    <li><strong>порт</strong> — порт, по якому буде проведено звернення до вузла.</li>
    <li><strong>шлях</strong> — використовується для уточнюючої вказівки місця знаходження ресурсу. Залежно від ОС може бути регістро-залежним (більшість серверних ОС) або регістро-незалежним (наприклад, Microsoft Windows).</li>
    <li><strong>параметри</strong> — рядок параметрів виду @("<")параметр@(">")=@("<")значення@(">"), розділених символом амперсанд (&)</li>
    <li><strong>якір</strong> — призначений для внутрішньої адресації на ресурсі, який було отримано від сервера.</li>
</ul>

<p>Інформація: <a href="https://uk.wikipedia.org/wiki/%D0%A3%D0%BD%D1%96%D1%84%D1%96%D0%BA%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B9_%D0%BB%D0%BE%D0%BA%D0%B0%D1%82%D0%BE%D1%80_%D1%80%D0%B5%D1%81%D1%83%D1%80%D1%81%D1%96%D0%B2">Wikipedia.org</a></p>

<h3> Завдання: вивести поточну дату </h3>

<p>
    @(DateTime.Now)
</p>